@model HRMS.Web.Models.CompanyViewModel

@{
    ViewData["Title"] = "Details";
}

<partial name="_header" />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIPT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIPT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class=" btn btn-primary">Edit </a>
</div>


<div class="list-header"></div>
<div class="row ">
    <div class="col-md-11">
        <h2 class="d-inline">Sites of Company </h2>
    </div>
    <div class="col-md-1">
        <a data-toggle="modal" data-target="#add-site-modal" class="btn btn-success">Add</a>
    </div>
</div>
<hr />
<div class="list-header"></div>


<div class="row">
    <div class="col-md-12">
        <table class="table display">
            <thead>
                <tr>
                    <th>
                        Site
                    </th>
                    <th>
                        Country
                    </th>
                    <th>
                        Region
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Postal Code
                    </th>
                    <th class="no-sort">Actions</th>
                </tr>
            <tbody></tbody>
        </table>
    </div>


</div>


<div class="modal" id="add-site-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label id="ModalErrorMessage" hidden class="alert-danger"> this is a error </label>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Site:</label>
                        <select id="newSite" class="form-control col-10"></select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirmAddSite" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="remove-site-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Site</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label id="ModalErrorMessage" hidden class="alert-danger"> this is a error </label>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Site:</label>
                        <input id="removedSite" type="text" class="form-control col-10" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="confirmAddSite" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            var table = $(".table").DataTable({
                ajax: {
                    url:"@Url.Action("LinkedSites","Company",new { id=Model.Id})",
                    dataSrc: 'items'
                } ,
                "columns": [
                    { "data": "name" },
                    { "data": "country" },
                    { "data": "region" },
                    { "data": "city" },
                    { "data": "postalCode" },
                    {
                        "data": "postalCode"
                    }

                ]

                ,"columnDefs": [{ targets: 'no-sort', orderable: false }]
            });

            $('#newSite').select2({
                placeholder: 'Select an option',
                ajax: {
                    url: '@Url.Action("GetSites", "Json")',
                    data: function (params) {
                        var query = {
                            search: params.term,
                            page: params.page || 1,
                            companyId:'@Model.Id'
                        }
                        return query;
                    },
                    processResults: function (data) {
                        return {
                            results: data.items
                        };
                    }
                }
            });

            $("#confirmAddSite").on("click", function () {

                var companyId = "@Model.Id";
                var siteId = $('#newSite').val();

              $.ajax({
                        type: "Post",
                        url: '@Url.Action("LinkSite")',
                        data: {
                                         id: companyId,
                                         siteId:siteId
                               },
                        success: function (data) {
                                        console.log(data);
                                        if (data.isSuccessful) {
                                            $("#add-site-modal").modal('hide');
                                            $(table).DataTable().ajax.reload();
                                        }
                                        else {
                                            $("#ModalErrorMessage").empty().html(data.errorMessage).show();
                                        }
                             }
                    });

            });

            //$('#confirm-delete').on('show.bs.modal', function (e) {
            //    $(".modal-body").empty().html(" Are you sure you want to delete this item ?");
            //    var url = $(e.relatedTarget).attr('href');
            //    $(this).find('.btn-ok').attr('href', url);
            //});

            //$(".btn-ok").on("click", function (event) {
            //    event.preventDefault();
            //    var url = $(this).attr("href");
            //    $.ajax
            //        ({
            //            type: "POST",
            //            url: url,
            //            success: function (data) {
            //                console.log(data);
            //                if (data.isSuccessful) {
            //                    location.reload();
            //                }
            //                else {
            //                    $(".modal-body").empty().html(data.errorMessage);
            //                }
            //            }
            //        });
            //    return false;
            //});
        });

    </script>
}



